<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CaminhoArquivo" value="C:\Users\lucas\OneDrive\Área de Trabalho\Alura\C# Danilo\ProgramacaoFuncional\"/>
		<add key="BaseDeClientes" value="C:\Users\lucas\OneDrive\Área de Trabalho\Alura\C# Danilo\ProgramacaoFuncional\db\clientes.txt"/>
		<add key="BaseDeUsuarios" value="C:\Users\lucas\OneDrive\Área de Trabalho\Alura\C# Danilo\ProgramacaoFuncional\db\usuarios.txt"/>
	</appSettings>
</configuration>
